@import url(__group/cards__group.css);
@import url(__photo/cards__photo.css);
@import url(__photo-description/cards__photo-description.css);
@import url(__photo-name/cards__photo-name.css);
@import url(__like/cards__like.css);


.cards {
  max-width: 880px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 920px) {
  .cards {
    max-width: 1000px;
    margin: 50px auto 0;
    grid-template-columns: repeat(2, 282px);
    justify-content: center;
  }
}

@media screen and (max-width: 700px) {
  .cards {
    margin: 36px auto 0;
    grid-template-columns: repeat(1, 282px);
    gap: 20px;
  }
}