@import url(__item/popup__item.css);
@import url(__window/popup__window.css);
@import url(__redact/popup__redact.css);
@import url(__edit/popup__edit.css);
@import url(__info-change/popup__info-change.css);
@import url(__name-change/popup__name-change.css);
@import url(__status-change/popup__status-change.css);
@import url(__info-save/popup__info-save.css);
@import url(__new-card-add/popup__new-card-add.css);
@import url(__new-card/popup__new-card.css);
@import url(__new-card-name/popup__new-card-name.css);
@import url(__new-card-url/popup__new-card-url.css);
@import url(__new-card-save/popup__new-card-save.css);
@import url(__lightbox/popup__lightbox.css);
@import url(__lightbox-item/popup__lightbox-item.css);
@import url(__lightbox-window/popup__lightbox-window.css);
@import url(__lightbox-image/popup__lightbox-image.css);
@import url(__lightbox-caption/popup__lightbox-caption.css);
@import url(__close/popup__close.css);
@import url(_none/popup_none.css);

.popup {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #00000080;
  display: flex;
  z-index: 10;
  visibility: visible;
  opacity: 1;
  transition: all 0.5s linear;
}
