.popup__info-save {
  width: 80%;
  margin: 50px auto 40px;
  padding: 14px 0 18px;
  border: none;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  cursor: pointer;
  transition: .8s linear;
}

.popup__info-save:hover {
  transition: .8s linear;
  opacity: .6;
}