.popup__close {
  position: absolute;
  background-image: url(../../../images/close-icon.svg);
  padding: 0;
  right: -36px;
  top: -36px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-position: center;
  cursor: pointer;
  transition: .8s linear;
}

.popup__close:hover {
  transition: .8s linear;
  opacity: .6;
}

@media screen and (max-width: 500px) {
  .popup__close {
    background-image: url(../../../images/close-icon_mobile.svg);
    right: -26px;
    top: -26px;
    width: 30px;
    height: 30px;
  }
}