.cards__like {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../images/element__like.svg);
  width: 21px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  margin: auto 20px auto auto;
}