.profile__name {
  max-width: 514px;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  grid-area: name;
}

@media screen and (max-width: 700px) {
  .profile__name {
    max-width: 288px;
    font-weight: 500;
    font-size: 27px;
    line-height: 56px;
    text-align: center;
  }
}