.card__like {
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../../images/element__like.svg);
  width: 21px;
  height: 18px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  color: #000000;
  margin: 0;
  transition: .8s linear;
}

.card__like:hover {
  transition: .8s linear;
  opacity: .6;
}