.popup__new-card-url {
  width: 80%;
  min-width: 200px;
  padding: 0 0 14px 0;
  margin: 50px 0 0;
  border: 0;
  border-bottom: 1px solid #00000033;
}

@media screen and (max-width: 500px) {
  .popup__new-card-url {
    margin: 36px 0 0 20px;
    padding: 0 0 12px 0;
    font-size: 12px;
    line-height: 15px;
  }
}