.popup__item {
  position: fixed;
  display: flex;
  max-width: 489px;
  width: fit-content;
  height: fit-content;
  top: 195px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 500px) {
  .popup__item {
    flex-direction: column-reverse;
  }
}